extends base
block content
    .container
        .row
            .col-md-12
                h1.text-center.mb-5 #{title}
            .col-md-12
                form(method='post' class='row')
                    .mb-3.col-md-6
                        label.form-label Название
                        input(name='name' type='text' class=['form-control'] value=form.name)
                    .mb-3.col-md-6
                        label.form-label Цена
                        input(name='price' type='number' class=['form-control'] value=form.price)
                    .mb-3.col-md-6
                        label.form-label Категория
                        select(name='category' class='form-select')
                            option( disabled='' selected='') Выберите
                            each  category in categoies
                                option(value=category.id selected=(category.id === form.category.id)) #{category.name}
                    .mb-3.col-md-6
                        label.form-label Бренд
                        select(name='brand' class='form-select')
                            option( disabled='' selected='') Выберите
                            each brand in brands
                                option(value=brand.id selected=(brand.id === form.brand.id)) #{brand.name} 

                    .col-md-6.mb-3
                        .btn-group
                            button(type='submit' name='action' value='remove' class='btn btn-danger') Удалить
                            button(type='reset'  class='btn btn-secondary') Сброс
                            button(type='submit' name='action' value='save' class='btn btn-primary') Сохранить
